# **1. 판다스(Pandas)**
판다스(Pandas)는 데이터 분석을 위한 파이썬 라이브러리 중 하나로, 표 형태의 데이터나 다양한 형태의 데이터를 쉽게 처리하고 분석할 수 있도록 도와주는 도구입니다. 주로 데이터프레임(DataFrame)이라는 자료구조를 제공하며, 이를 통해 테이블 형태의 데이터를 다루기 용이합니다.

```
pip install pandas
```

In [397]:
import pandas as pd

# **2. Series와 DataFrame**

### 1. Series

Series는 1차원 배열과 같은 자료구조로 하나의 열을 나타냅니다. 또한 각 요소는 인덱스(index)와 값(value)으로 구성되어 있습니다. 값은 넘파이의 ndarray 기반으로 저장됩니다. Series는 다양한 데이터 타입을 가질 수 있으며 정수, 실수, 문자열 등 다양한 형태의 데이터를 담을 수 있습니다.

In [398]:
idx = ['김사과', '반하나', '오렌지', '이메론', '배애리']
data = [67, 75, 90, 62, 98]

pd.Series(data)

0    67
1    75
2    90
3    62
4    98
dtype: int64

In [399]:
pd.Series(data, idx)

김사과    67
반하나    75
오렌지    90
이메론    62
배애리    98
dtype: int64

In [400]:
se1 = pd.Series(data, idx)
se1

김사과    67
반하나    75
오렌지    90
이메론    62
배애리    98
dtype: int64

In [401]:
print(se1.index)
print(se1.values)
print(type(se1.values))

Index(['김사과', '반하나', '오렌지', '이메론', '배애리'], dtype='object')
[67 75 90 62 98]
<class 'numpy.ndarray'>

### 2. DataFrame

데이터프레임(DataFrame)은 판다스(Pandas) 라이브러리에서 제공하는 중요하고 강력한 데이터 구조로, 2차원의 테이블 형태 데이터를 다루는 데 사용됩니다. 또한 각 요소는 인덱스(index), 열(column), 값(value)으로 구성되어 있습니다. 데이터프레임은 행과 열로 이루어져 있으며, 각 열은 다양한 데이터 타입을 가질 수 있습니다. 값은 넘파이의 ndarray 기반으로 저장됩니다.

In [402]:
data = [[67, 93, 91],
        [75, 68, 96],
        [87, 81, 82],
        [62, 70, 75],
        [98, 56, 87]]

idx = ['김사과', '반하나', '오렌지', '이메론', '배애리']
col = ['국어', '영어', '수학']

In [403]:
pd.DataFrame(data)
pd.DataFrame(data, idx)
# pd.DataFrame(data, idx, col)

      0   1   2
김사과  67  93  91
반하나  75  68  96
오렌지  87  81  82
이메론  62  70  75
배애리  98  56  87

In [404]:
df = pd.DataFrame(data=data, columns=col, index=idx)
df

     국어  영어  수학
김사과  67  93  91
반하나  75  68  96
오렌지  87  81  82
이메론  62  70  75
배애리  98  56  87

In [405]:
print(df.index)
print(df.columns)
print(df.values)

Index(['김사과', '반하나', '오렌지', '이메론', '배애리'], dtype='object')
Index(['국어', '영어', '수학'], dtype='object')
[[67 93 91]
 [75 68 96]
 [87 81 82]
 [62 70 75]
 [98 56 87]]

In [406]:
# 딕셔너리를 사용하여 데이터프레임을 생성하기
dic = {
    '국어':[67, 75, 76, 62, 98],
    '영어':[93, 68, 81, 70, 56],
    '수학':[91, 96, 82, 75, 87]
}

df = pd.DataFrame(data=dic, index=idx)
df

     국어  영어  수학
김사과  67  93  91
반하나  75  68  96
오렌지  76  81  82
이메론  62  70  75
배애리  98  56  87

# **3. CSV 파일 읽어오기**
CSV 파일은 Comma-Separated Values(쉼표로 구분된 값) 파일의 약자로, 데이터를 단순한 텍스트 형식으로 저장하는 데 사용되는 파일 형식입니다.

In [407]:
df = pd.read_csv('/content/drive/MyDrive/랭체인 AI 영상객체탐지분석 플랫폼 구축/9. 데이터분석/data/idol.csv')
df

      이름     그룹   소속사  성별        생년월일      키  혈액형  브랜드평판지수
0     지민  방탄소년단   빅히트  남자  1995-10-13  174.0    A  6267302
1     정국  방탄소년단   빅히트  남자  1997-09-01  179.0    A  5805844
2     민지    뉴진스   어도어  여자  2004-05-07  169.0    A  4437081
3     하니    뉴진스   어도어  여자  2004-10-06  161.7    O  4161153
4      뷔  방탄소년단   빅히트  남자  1995-12-30  179.0   AB  3470048
5    다니엘    뉴진스   어도어  여자  2005-04-11  165.0  NaN  2341271
6     혜인    뉴진스   어도어  여자  2008-04-21  170.0    O  2301785
7     지수   블랙핑크   와이지  여자  1995-01-03  162.0    A  2227460
8     해린    뉴진스   어도어  여자  2006-05-15  164.5    B  2173376
9     태연   소녀시대   에스엠  여자  1989-03-09    NaN    A  2079866
10    RM  방탄소년단   빅히트  남자  1994-09-12  181.0    A  2069499
11    제니   블랙핑크   와이지  여자  1996-01-16  163.0    B  2069250
12   옹성우    워너원  판타지오  남자  1995-08-25  179.0    A  1954327
13    리사   블랙핑크   와이지  여자  1997-03-27  167.0    A  1912800
14    로제   블랙핑크   와이지  여자  1997-02-11  168.0    B  1888132
15    윤아   소녀시대   에스엠  여자  1990-05-30  168.0    B  1885297
16    조이   레드벨벳   빅히트  여자  1996-09-03  168.0    A  1830514
17    슬기   레드벨벳   빅히트  여자  1994-02-10  161.0    A  1741767
18  강다니엘    워너원   NaN  남자  1996-12-10  182.0    A  1706444
19     진  방탄소년단   빅히트  남자  1992-12-04  179.0    O  1680587

In [408]:
type(df)

pandas.core.frame.DataFrame

# **4. 데이터프레임 기본 정보 알아보기**

In [409]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   이름       20 non-null     object
 1   그룹       20 non-null     object
 2   소속사      19 non-null     object
 3   성별       20 non-null     object
 4   생년월일     20 non-null     object
 5   키        19 non-null     float64
 6   혈액형      19 non-null     object
 7   브랜드평판지수  20 non-null     int64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.4+ KB

In [410]:
new_colums = ['name', 'group', 'company', 'gender', 'birthday', 'height', 'blood', 'brand']
df.columns = new_colums
df

    name  group company gender    birthday  height blood    brand
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587

In [411]:
# describe(): 통계 정보를 반환
df.describe()

           height         brand
count   19.000000  2.000000e+01
mean   170.536842  2.700190e+06
std      7.225204  1.381919e+06
min    161.000000  1.680587e+06
25%    164.750000  1.887423e+06
50%    168.000000  2.074682e+06
75%    179.000000  2.623465e+06
max    182.000000  6.267302e+06

In [412]:
df.describe(include=object) # Top: 최빈값, freq: 최빈값의 빈도

       name  group company gender    birthday blood
count    20     20      19     20          20    19
unique   20      6       5      2          20     4
top      지민  방탄소년단     빅히트     여자  1995-10-13     A
freq      1      5       7     13           1    11

In [413]:
df.head(3)

  name  group company gender    birthday  height blood    brand
0   지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1   정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2   민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081

In [414]:
df.tail()

    name  group company gender    birthday  height blood    brand
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587

In [415]:
df.tail(2)

    name  group company gender    birthday  height blood    brand
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587

In [416]:
# 정렬
df.sort_index() # index로 오름차순 정렬: 기본값

    name  group company gender    birthday  height blood    brand
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587

In [417]:
df.sort_index(ascending=False) # index로 내림차순 정렬

    name  group company gender    birthday  height blood    brand
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302

In [418]:
df.sort_values(by='height')

    name  group company gender    birthday  height blood    brand
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866

In [419]:
df.sort_values(by='height', ascending=False)

    name  group company gender    birthday  height blood    brand
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866

In [420]:
df.sort_values(by='height', ascending=False, na_position='first') # 키로 내림차순 정렬. NaN을 위로 올림

    name  group company gender    birthday  height blood    brand
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767

In [421]:
df.sort_values(by=['height', 'brand'], ascending=[False, False], na_position="first")

    name  group company gender    birthday  height blood    brand
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767

# **5. 데이터 다루기**

In [422]:
df.head()

  name  group company gender    birthday  height blood    brand
0   지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1   정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2   민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
3   하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
4    뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048

In [423]:
df['blood']

0       A
1       A
2       A
3       O
4      AB
5     NaN
6       O
7       A
8       B
9       A
10      A
11      B
12      A
13      A
14      B
15      B
16      A
17      A
18      A
19      O
Name: blood, dtype: object

In [424]:
type(df['blood'])

pandas.core.series.Series

In [425]:
df.blood

0       A
1       A
2       A
3       O
4      AB
5     NaN
6       O
7       A
8       B
9       A
10      A
11      B
12      A
13      A
14      B
15      B
16      A
17      A
18      A
19      O
Name: blood, dtype: object

In [426]:
df[:3]

  name  group company gender    birthday  height blood    brand
0   지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1   정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2   민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081

In [427]:
# df.loc[행에 대한 조건, 열 선택]
df.loc[:, 'name'] # df['name'], df.name

0       지민
1       정국
2       민지
3       하니
4        뷔
5      다니엘
6       혜인
7       지수
8       해린
9       태연
10      RM
11      제니
12     옹성우
13      리사
14      로제
15      윤아
16      조이
17      슬기
18    강다니엘
19       진
Name: name, dtype: object

In [428]:
df.loc[2:5, 'name'] # 5번을 포함

2     민지
3     하니
4      뷔
5    다니엘
Name: name, dtype: object

In [429]:
df.loc[2:5, ['name', 'gender', 'height']]

  name gender  height
2   민지     여자   169.0
3   하니     여자   161.7
4    뷔     남자   179.0
5  다니엘     여자   165.0

In [430]:
df.loc[[2, 5], ['name', 'gender', 'height']]

  name gender  height
2   민지     여자   169.0
5  다니엘     여자   165.0

In [431]:
df.loc[[2, 5], 'name': 'height']

  name group company gender    birthday  height
2   민지   뉴진스     어도어     여자  2004-05-07   169.0
5  다니엘   뉴진스     어도어     여자  2005-04-11   165.0

In [432]:
# df.iloc[행에 대한 조건, 컬럼] (인덱스)
df.iloc[:, 0]

0       지민
1       정국
2       민지
3       하니
4        뷔
5      다니엘
6       혜인
7       지수
8       해린
9       태연
10      RM
11      제니
12     옹성우
13      리사
14      로제
15      윤아
16      조이
17      슬기
18    강다니엘
19       진
Name: name, dtype: object

In [433]:
df.iloc[:, 0:3] # 3을 포함하지 않음

    name  group company
0     지민  방탄소년단     빅히트
1     정국  방탄소년단     빅히트
2     민지    뉴진스     어도어
3     하니    뉴진스     어도어
4      뷔  방탄소년단     빅히트
5    다니엘    뉴진스     어도어
6     혜인    뉴진스     어도어
7     지수   블랙핑크     와이지
8     해린    뉴진스     어도어
9     태연   소녀시대     에스엠
10    RM  방탄소년단     빅히트
11    제니   블랙핑크     와이지
12   옹성우    워너원    판타지오
13    리사   블랙핑크     와이지
14    로제   블랙핑크     와이지
15    윤아   소녀시대     에스엠
16    조이   레드벨벳     빅히트
17    슬기   레드벨벳     빅히트
18  강다니엘    워너원     NaN
19     진  방탄소년단     빅히트

In [434]:
df.iloc[:, [0, 3]]

    name gender
0     지민     남자
1     정국     남자
2     민지     여자
3     하니     여자
4      뷔     남자
5    다니엘     여자
6     혜인     여자
7     지수     여자
8     해린     여자
9     태연     여자
10    RM     남자
11    제니     여자
12   옹성우     남자
13    리사     여자
14    로제     여자
15    윤아     여자
16    조이     여자
17    슬기     여자
18  강다니엘     남자
19     진     남자

In [435]:
df.iloc[1:5, [0, 3]]

  name gender
1   정국     남자
2   민지     여자
3   하니     여자
4    뷔     남자

In [436]:
df['height'] >= 180

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18     True
19    False
Name: height, dtype: bool

In [437]:
df[df['height'] >= 180]

    name  group company gender    birthday  height blood    brand
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444

In [438]:
df[df['height'] >= 180]['name'] # df['name'][df['height'] >= 180]

10      RM
18    강다니엘
Name: name, dtype: object

In [439]:
df[df['height'] >= 180][['name', 'gender', 'height']]

    name gender  height
10    RM     남자   181.0
18  강다니엘     남자   182.0

In [440]:
df.loc[df['height'] >= 180, ['name', 'gender', 'height']]

    name gender  height
10    RM     남자   181.0
18  강다니엘     남자   182.0

In [441]:
df

    name  group company gender    birthday  height blood    brand
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587

In [442]:
company = ['빅히트', '어도어']
# isin(): 헤딩 요소가 데이터와 일치하면 True, 아니면 False
df['company'].isin(company)

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7     False
8      True
9     False
10     True
11    False
12    False
13    False
14    False
15    False
16     True
17     True
18    False
19     True
Name: company, dtype: bool

In [443]:
df[df['company'].isin(company)] # df.loc[df['company'].isin(company), :]

   name  group company gender    birthday  height blood    brand
0    지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1    정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2    민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
3    하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
4     뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
5   다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
6    혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
8    해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
10   RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
16   조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
17   슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
19    진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587

In [444]:
df[df['height'].isna()]

  name group company gender    birthday  height blood    brand
9   태연  소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866

In [445]:
df.isnull()

     name  group  company  gender  birthday  height  blood  brand
0   False  False    False   False     False   False  False  False
1   False  False    False   False     False   False  False  False
2   False  False    False   False     False   False  False  False
3   False  False    False   False     False   False  False  False
4   False  False    False   False     False   False  False  False
5   False  False    False   False     False   False   True  False
6   False  False    False   False     False   False  False  False
7   False  False    False   False     False   False  False  False
8   False  False    False   False     False   False  False  False
9   False  False    False   False     False    True  False  False
10  False  False    False   False     False   False  False  False
11  False  False    False   False     False   False  False  False
12  False  False    False   False     False   False  False  False
13  False  False    False   False     False   False  False  False
14  False  False    False   False     False   False  False  False
15  False  False    False   False     False   False  False  False
16  False  False    False   False     False   False  False  False
17  False  False    False   False     False   False  False  False
18  False  False     True   False     False   False  False  False
19  False  False    False   False     False   False  False  False

In [446]:
df.isnull()

     name  group  company  gender  birthday  height  blood  brand
0   False  False    False   False     False   False  False  False
1   False  False    False   False     False   False  False  False
2   False  False    False   False     False   False  False  False
3   False  False    False   False     False   False  False  False
4   False  False    False   False     False   False  False  False
5   False  False    False   False     False   False   True  False
6   False  False    False   False     False   False  False  False
7   False  False    False   False     False   False  False  False
8   False  False    False   False     False   False  False  False
9   False  False    False   False     False    True  False  False
10  False  False    False   False     False   False  False  False
11  False  False    False   False     False   False  False  False
12  False  False    False   False     False   False  False  False
13  False  False    False   False     False   False  False  False
14  False  False    False   False     False   False  False  False
15  False  False    False   False     False   False  False  False
16  False  False    False   False     False   False  False  False
17  False  False    False   False     False   False  False  False
18  False  False     True   False     False   False  False  False
19  False  False    False   False     False   False  False  False

In [447]:
df[df['height'].isnull()]

  name group company gender    birthday  height blood    brand
9   태연  소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866

In [448]:
df[~df['height'].isnull()] # df[df['height'].notnull()]

    name  group company gender    birthday  height blood    brand
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587

In [449]:
df.loc[df['height'].notnull(), ['name', 'company', 'gender']]

    name company gender
0     지민     빅히트     남자
1     정국     빅히트     남자
2     민지     어도어     여자
3     하니     어도어     여자
4      뷔     빅히트     남자
5    다니엘     어도어     여자
6     혜인     어도어     여자
7     지수     와이지     여자
8     해린     어도어     여자
10    RM     빅히트     남자
11    제니     와이지     여자
12   옹성우    판타지오     남자
13    리사     와이지     여자
14    로제     와이지     여자
15    윤아     에스엠     여자
16    조이     빅히트     여자
17    슬기     빅히트     여자
18  강다니엘     NaN     남자
19     진     빅히트     남자

In [450]:
# fillna(): 결측값을 채워줌
df['height'].fillna(0) # df['height'].fillna(0, in-place=True) 적용

0     174.0
1     179.0
2     169.0
3     161.7
4     179.0
5     165.0
6     170.0
7     162.0
8     164.5
9       0.0
10    181.0
11    163.0
12    179.0
13    167.0
14    168.0
15    168.0
16    168.0
17    161.0
18    182.0
19    179.0
Name: height, dtype: float64

In [451]:
df_copy = df.copy()

In [452]:
height = df_copy['height'].mean()
height

np.float64(170.53684210526316)

In [453]:
df_copy['height'] = df_copy['height'].fillna(height)
df_copy['height']

0     174.000000
1     179.000000
2     169.000000
3     161.700000
4     179.000000
5     165.000000
6     170.000000
7     162.000000
8     164.500000
9     170.536842
10    181.000000
11    163.000000
12    179.000000
13    167.000000
14    168.000000
15    168.000000
16    168.000000
17    161.000000
18    182.000000
19    179.000000
Name: height, dtype: float64

In [454]:
df_copy = df.copy()
df_copy['height']

0     174.0
1     179.0
2     169.0
3     161.7
4     179.0
5     165.0
6     170.0
7     162.0
8     164.5
9       NaN
10    181.0
11    163.0
12    179.0
13    167.0
14    168.0
15    168.0
16    168.0
17    161.0
18    182.0
19    179.0
Name: height, dtype: float64

In [455]:
df_copy['height'].fillna(df_copy['height'].median(), inplace=True)
df_copy['height']

0     174.0
1     179.0
2     169.0
3     161.7
4     179.0
5     165.0
6     170.0
7     162.0
8     164.5
9     168.0
10    181.0
11    163.0
12    179.0
13    167.0
14    168.0
15    168.0
16    168.0
17    161.0
18    182.0
19    179.0
Name: height, dtype: float64

In [456]:
df_copy = df.copy()
df_copy

    name  group company gender    birthday  height blood    brand
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587

In [457]:
# dropna(): 결측값이 있는 행 또는 열을 모두 제거
df_copy.dropna()

   name  group company gender    birthday  height blood    brand
0    지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1    정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2    민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
3    하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
4     뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
6    혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
7    지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
8    해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
10   RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
11   제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
12  옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
13   리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
14   로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
15   윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
16   조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
17   슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
19    진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587

In [458]:
df_copy.dropna(axis=1)

    name  group gender    birthday    brand
0     지민  방탄소년단     남자  1995-10-13  6267302
1     정국  방탄소년단     남자  1997-09-01  5805844
2     민지    뉴진스     여자  2004-05-07  4437081
3     하니    뉴진스     여자  2004-10-06  4161153
4      뷔  방탄소년단     남자  1995-12-30  3470048
5    다니엘    뉴진스     여자  2005-04-11  2341271
6     혜인    뉴진스     여자  2008-04-21  2301785
7     지수   블랙핑크     여자  1995-01-03  2227460
8     해린    뉴진스     여자  2006-05-15  2173376
9     태연   소녀시대     여자  1989-03-09  2079866
10    RM  방탄소년단     남자  1994-09-12  2069499
11    제니   블랙핑크     여자  1996-01-16  2069250
12   옹성우    워너원     남자  1995-08-25  1954327
13    리사   블랙핑크     여자  1997-03-27  1912800
14    로제   블랙핑크     여자  1997-02-11  1888132
15    윤아   소녀시대     여자  1990-05-30  1885297
16    조이   레드벨벳     여자  1996-09-03  1830514
17    슬기   레드벨벳     여자  1994-02-10  1741767
18  강다니엘    워너원     남자  1996-12-10  1706444
19     진  방탄소년단     남자  1992-12-04  1680587

# **7. 행, 열 추가 및 삭제하기**

In [459]:
df_copy = df.copy()
df_copy

    name  group company gender    birthday  height blood    brand
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587

In [460]:
dic = {
    'name': '김사과',
    'group': '과수원',
    'company': '애플',
    'gender': '여자',
    'birthday': '2000-01-01',
    'height': 160.0,
    'blood': 'A',
    'brand': 1234567
}

In [461]:
df_copy = pd.concat([df_copy, pd.DataFrame(dic, index=[0])], ignore_index=True)
df_copy

    name  group company gender    birthday  height blood    brand
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587
20   김사과    과수원      애플     여자  2000-01-01   160.0     A  1234567

In [462]:
dic = {
    'name': '반하나',
    'group': '과수원',
    'company': '애플',
    'gender': '여자',
    'birthday': '1995-01-01',
    'height': 165.0,
    'blood': 'B',
    'brand': 1000000
}

In [463]:
df_copy = pd.concat([df_copy, pd.DataFrame(dic, index=[0])], ignore_index=True)
df_copy

    name  group company gender    birthday  height blood    brand
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587
20   김사과    과수원      애플     여자  2000-01-01   160.0     A  1234567
21   반하나    과수원      애플     여자  1995-01-01   165.0     B  1000000

In [464]:
df_copy['nation'] = '대한민국'
df_copy.head()

  name  group company gender    birthday  height blood    brand nation
0   지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302   대한민국
1   정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844   대한민국
2   민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081   대한민국
3   하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153   대한민국
4    뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048   대한민국

In [465]:
df_copy.loc[len(df_copy)] = dic # 컬럼명이 모두 같아야 추가됨
df_copy

    name  group company gender    birthday  height blood    brand nation
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302   대한민국
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844   대한민국
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081   대한민국
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153   대한민국
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048   대한민국
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271   대한민국
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785   대한민국
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460   대한민국
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376   대한민국
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866   대한민국
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499   대한민국
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250   대한민국
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327   대한민국
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800   대한민국
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132   대한민국
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297   대한민국
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514   대한민국
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767   대한민국
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444   대한민국
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587   대한민국
20   김사과    과수원      애플     여자  2000-01-01   160.0     A  1234567   대한민국
21   반하나    과수원      애플     여자  1995-01-01   165.0     B  1000000   대한민국
22   반하나    과수원      애플     여자  1995-01-01   165.0     B  1000000    NaN

In [466]:
df_copy.loc[df_copy['name'] == '김사과', 'nation'] = '미국'
df_copy

    name  group company gender    birthday  height blood    brand nation
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302   대한민국
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844   대한민국
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081   대한민국
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153   대한민국
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048   대한민국
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271   대한민국
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785   대한민국
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460   대한민국
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376   대한민국
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866   대한민국
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499   대한민국
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250   대한민국
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327   대한민국
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800   대한민국
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132   대한민국
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297   대한민국
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514   대한민국
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767   대한민국
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444   대한민국
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587   대한민국
20   김사과    과수원      애플     여자  2000-01-01   160.0     A  1234567     미국
21   반하나    과수원      애플     여자  1995-01-01   165.0     B  1000000   대한민국
22   반하나    과수원      애플     여자  1995-01-01   165.0     B  1000000    NaN

In [467]:
# 행 제거하기
df_copy.drop(20, axis=0) # 0: 행, 1: 열

    name  group company gender    birthday  height blood    brand nation
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302   대한민국
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844   대한민국
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081   대한민국
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153   대한민국
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048   대한민국
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271   대한민국
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785   대한민국
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460   대한민국
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376   대한민국
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866   대한민국
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499   대한민국
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250   대한민국
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327   대한민국
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800   대한민국
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132   대한민국
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297   대한민국
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514   대한민국
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767   대한민국
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444   대한민국
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587   대한민국
21   반하나    과수원      애플     여자  1995-01-01   165.0     B  1000000   대한민국
22   반하나    과수원      애플     여자  1995-01-01   165.0     B  1000000    NaN

In [468]:
df_copy.drop([1, 3, 5, 7, 20], axis=0)

    name  group company gender    birthday  height blood    brand nation
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302   대한민국
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081   대한민국
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048   대한민국
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785   대한민국
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376   대한민국
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866   대한민국
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499   대한민국
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250   대한민국
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327   대한민국
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800   대한민국
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132   대한민국
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297   대한민국
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514   대한민국
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767   대한민국
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444   대한민국
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587   대한민국
21   반하나    과수원      애플     여자  1995-01-01   165.0     B  1000000   대한민국
22   반하나    과수원      애플     여자  1995-01-01   165.0     B  1000000    NaN

In [469]:
df_copy.drop(['nation', 'group', 'gender'], axis=1)

    name company    birthday  height blood    brand
0     지민     빅히트  1995-10-13   174.0     A  6267302
1     정국     빅히트  1997-09-01   179.0     A  5805844
2     민지     어도어  2004-05-07   169.0     A  4437081
3     하니     어도어  2004-10-06   161.7     O  4161153
4      뷔     빅히트  1995-12-30   179.0    AB  3470048
5    다니엘     어도어  2005-04-11   165.0   NaN  2341271
6     혜인     어도어  2008-04-21   170.0     O  2301785
7     지수     와이지  1995-01-03   162.0     A  2227460
8     해린     어도어  2006-05-15   164.5     B  2173376
9     태연     에스엠  1989-03-09     NaN     A  2079866
10    RM     빅히트  1994-09-12   181.0     A  2069499
11    제니     와이지  1996-01-16   163.0     B  2069250
12   옹성우    판타지오  1995-08-25   179.0     A  1954327
13    리사     와이지  1997-03-27   167.0     A  1912800
14    로제     와이지  1997-02-11   168.0     B  1888132
15    윤아     에스엠  1990-05-30   168.0     B  1885297
16    조이     빅히트  1996-09-03   168.0     A  1830514
17    슬기     빅히트  1994-02-10   161.0     A  1741767
18  강다니엘     NaN  1996-12-10   182.0     A  1706444
19     진     빅히트  1992-12-04   179.0     O  1680587
20   김사과      애플  2000-01-01   160.0     A  1234567
21   반하나      애플  1995-01-01   165.0     B  1000000
22   반하나      애플  1995-01-01   165.0     B  1000000

In [470]:
df_copy.describe()

           height         brand
count   22.000000  2.300000e+01
mean   169.554545  2.488625e+06
std      7.207055  1.401041e+06
min    160.000000  1.000000e+06
25%    164.625000  1.786140e+06
50%    168.000000  2.069250e+06
75%    177.750000  2.321528e+06
max    182.000000  6.267302e+06

In [471]:
df_copy['height'].sum() # 합계

np.float64(3730.2)

In [472]:
df_copy['height'].count() # Nan은 포함하지 않음

np.int64(22)

In [473]:
df_copy['height'].mean() # 평균

np.float64(169.55454545454543)

In [474]:
df_copy['height'].median() # 중앙값

168.0

### ※ 평균과 중앙값

평균은 모든 데이터를 더한 후, 데이터 개수로 나눈 값입니다. 데이터를 고르게 분배했을 때, 한 데이터가 가질 수 있는 이론적인 중심값을 의미합니다. 중앙값은 데이터를 크기 순서대로 정렬했을 때, 가운데 위치하는 값입니다. 데이터의 순서에만 영향을 받고, 값의 크기에는 영향을 받지 않습니다. 데이터가 고르게 분포된 경우 평균과 중앙값이 비슷하거나 같습니다. 하지만 데이터에 극단값(Outlier)이 있는 경우 평균은 극단값의 영향을 받아 왜곡될 수 있지만, 중앙값은 비교적 안정적입니다.

In [475]:
df_copy['height'].max() # 최댓값

182.0

In [476]:
df_copy['height'].min() # 최솟값

160.0

In [477]:
df_copy['height'].var() # 분산

51.94164502164503

In [478]:
df_copy['height'].std() # 표준편차

7.207055225377771

### ※ 분산과 표준편차

분산(Variance)과 표준편차(Standard Deviation)는 데이터가 평균에서 얼마나 퍼져 있는지를 나타내는 산포도(분포 정도)를 측정하는 지표입니다. 분산은 데이터가 평균을 기준으로 얼마나 퍼져 있는지를 나타냅니다. 평균에서 각 데이터의 거리를 제곱한 값들의 평균입니다. 표준편차는 분산의 제곱근입니다. 분산은 제곱 값이기 때문에 단위가 커질 수 있는데, 이를 원래 데이터와 같은 단위로 변환하기 위해 제곱근을 씌웁니다.

<img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdna%2FlSDKp%2FbtsLh5aU1e8%2FAAAAAAAAAAAAAAAAAAAAALLo-v9lCG02Pjz21LsA2v3fa3ieSoACoMfBNnkw9FCc%2Fimg.png%3Fcredential%3DyqXZFxpELC7KVnFOS48ylbz2pIh7yKj8%26expires%3D1767193199%26allow_ip%3D%26allow_referer%3D%26signature%3DxwMZhWgOxQ2CmRKqwvQnZ%252FlQUro%253D" />

# **9. 그룹**

In [479]:
df_copy

    name  group company gender    birthday  height blood    brand nation
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302   대한민국
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844   대한민국
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081   대한민국
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153   대한민국
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048   대한민국
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271   대한민국
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785   대한민국
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460   대한민국
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376   대한민국
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866   대한민국
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499   대한민국
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250   대한민국
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327   대한민국
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800   대한민국
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132   대한민국
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297   대한민국
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514   대한민국
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767   대한민국
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444   대한민국
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587   대한민국
20   김사과    과수원      애플     여자  2000-01-01   160.0     A  1234567     미국
21   반하나    과수원      애플     여자  1995-01-01   165.0     B  1000000   대한민국
22   반하나    과수원      애플     여자  1995-01-01   165.0     B  1000000    NaN

In [480]:
df_copy.groupby('group')

In [481]:
df_copy.groupby('group').count()

       name  company  gender  birthday  height  blood  brand  nation
group
과수원       3        3       3         3       3      3      3       2
뉴진스       5        5       5         5       5      4      5       5
레드벨벳      2        2       2         2       2      2      2       2
방탄소년단     5        5       5         5       5      5      5       5
블랙핑크      4        4       4         4       4      4      4       4
소녀시대      2        2       2         2       1      2      2       2
워너원       2        1       2         2       2      2      2       2

In [482]:
df_copy.groupby('group').mean(numeric_only=True)

           height      brand
group
과수원    163.333333  1078189.0
뉴진스    166.040000  3082933.2
레드벨벳   164.500000  1786140.5
방탄소년단  178.400000  3858656.0
블랙핑크   165.000000  2024410.5
소녀시대   168.000000  1982581.5
워너원    180.500000  1830385.5

In [483]:
df_copy.groupby('gender').mean(numeric_only=True)

            height         brand
gender
남자      179.000000  3.279150e+06
여자      165.146667  2.142770e+06

In [484]:
df_copy.groupby(['blood', 'gender'])['height'].mean()

blood  gender
A      남자        179.000000
       여자        164.500000
AB     남자        179.000000
B      여자        165.583333
O      남자        179.000000
       여자        165.850000
Name: height, dtype: float64

# **10. 중복값 제거하기**

In [485]:
df_copy['blood']

0       A
1       A
2       A
3       O
4      AB
5     NaN
6       O
7       A
8       B
9       A
10      A
11      B
12      A
13      A
14      B
15      B
16      A
17      A
18      A
19      O
20      A
21      B
22      B
Name: blood, dtype: object

In [486]:
df_copy['blood'].drop_duplicates()

0      A
3      O
4     AB
5    NaN
8      B
Name: blood, dtype: object

In [487]:
df_copy['blood'].drop_duplicates(keep='last')

4      AB
5     NaN
19      O
20      A
22      B
Name: blood, dtype: object

In [488]:
df_copy['blood'].value_counts(dropna=False) # value_counts 엄청 중요

blood
A      12
B       6
O       3
AB      1
NaN     1
Name: count, dtype: int64

# **11. 데이터프레임 합치기**

In [489]:
df1 = pd.read_csv('/content/drive/MyDrive/랭체인 AI 영상객체탐지분석 플랫폼 구축/9. 데이터분석/data/idol.csv')
df2 =pd.read_csv('/content/drive/MyDrive/랭체인 AI 영상객체탐지분석 플랫폼 구축/9. 데이터분석/data/idol2.csv')

In [490]:
df1

      이름     그룹   소속사  성별        생년월일      키  혈액형  브랜드평판지수
0     지민  방탄소년단   빅히트  남자  1995-10-13  174.0    A  6267302
1     정국  방탄소년단   빅히트  남자  1997-09-01  179.0    A  5805844
2     민지    뉴진스   어도어  여자  2004-05-07  169.0    A  4437081
3     하니    뉴진스   어도어  여자  2004-10-06  161.7    O  4161153
4      뷔  방탄소년단   빅히트  남자  1995-12-30  179.0   AB  3470048
5    다니엘    뉴진스   어도어  여자  2005-04-11  165.0  NaN  2341271
6     혜인    뉴진스   어도어  여자  2008-04-21  170.0    O  2301785
7     지수   블랙핑크   와이지  여자  1995-01-03  162.0    A  2227460
8     해린    뉴진스   어도어  여자  2006-05-15  164.5    B  2173376
9     태연   소녀시대   에스엠  여자  1989-03-09    NaN    A  2079866
10    RM  방탄소년단   빅히트  남자  1994-09-12  181.0    A  2069499
11    제니   블랙핑크   와이지  여자  1996-01-16  163.0    B  2069250
12   옹성우    워너원  판타지오  남자  1995-08-25  179.0    A  1954327
13    리사   블랙핑크   와이지  여자  1997-03-27  167.0    A  1912800
14    로제   블랙핑크   와이지  여자  1997-02-11  168.0    B  1888132
15    윤아   소녀시대   에스엠  여자  1990-05-30  168.0    B  1885297
16    조이   레드벨벳   빅히트  여자  1996-09-03  168.0    A  1830514
17    슬기   레드벨벳   빅히트  여자  1994-02-10  161.0    A  1741767
18  강다니엘    워너원   NaN  남자  1996-12-10  182.0    A  1706444
19     진  방탄소년단   빅히트  남자  1992-12-04  179.0    O  1680587

In [491]:
df2

      이름    연봉  가족수
0     지민  3000    3
1     정국  3500    3
2     민지  3200    4
3     하니  3050    4
4      뷔  4300    3
5    다니엘  2900    5
6     혜인  3400    6
7     지수  4500    5
8     해린  4200    4
9     태연  4300    4
10    RM  3700    3
11    제니  3850    5
12   옹성우  3900    4
13    리사  4100    3
14    로제  4150    3
15    윤아  3000    3
16    조이  3500    3
17    슬기  3200    4
18  강다니엘  3050    4
19     진  4300    3

In [492]:
df_copy = df1.copy()
pd.concat([df1, df_copy]) # axis=0

      이름     그룹   소속사  성별        생년월일      키  혈액형  브랜드평판지수
0     지민  방탄소년단   빅히트  남자  1995-10-13  174.0    A  6267302
1     정국  방탄소년단   빅히트  남자  1997-09-01  179.0    A  5805844
2     민지    뉴진스   어도어  여자  2004-05-07  169.0    A  4437081
3     하니    뉴진스   어도어  여자  2004-10-06  161.7    O  4161153
4      뷔  방탄소년단   빅히트  남자  1995-12-30  179.0   AB  3470048
5    다니엘    뉴진스   어도어  여자  2005-04-11  165.0  NaN  2341271
6     혜인    뉴진스   어도어  여자  2008-04-21  170.0    O  2301785
7     지수   블랙핑크   와이지  여자  1995-01-03  162.0    A  2227460
8     해린    뉴진스   어도어  여자  2006-05-15  164.5    B  2173376
9     태연   소녀시대   에스엠  여자  1989-03-09    NaN    A  2079866
10    RM  방탄소년단   빅히트  남자  1994-09-12  181.0    A  2069499
11    제니   블랙핑크   와이지  여자  1996-01-16  163.0    B  2069250
12   옹성우    워너원  판타지오  남자  1995-08-25  179.0    A  1954327
13    리사   블랙핑크   와이지  여자  1997-03-27  167.0    A  1912800
14    로제   블랙핑크   와이지  여자  1997-02-11  168.0    B  1888132
15    윤아   소녀시대   에스엠  여자  1990-05-30  168.0    B  1885297
16    조이   레드벨벳   빅히트  여자  1996-09-03  168.0    A  1830514
17    슬기   레드벨벳   빅히트  여자  1994-02-10  161.0    A  1741767
18  강다니엘    워너원   NaN  남자  1996-12-10  182.0    A  1706444
19     진  방탄소년단   빅히트  남자  1992-12-04  179.0    O  1680587
0     지민  방탄소년단   빅히트  남자  1995-10-13  174.0    A  6267302
1     정국  방탄소년단   빅히트  남자  1997-09-01  179.0    A  5805844
2     민지    뉴진스   어도어  여자  2004-05-07  169.0    A  4437081
3     하니    뉴진스   어도어  여자  2004-10-06  161.7    O  4161153
4      뷔  방탄소년단   빅히트  남자  1995-12-30  179.0   AB  3470048
5    다니엘    뉴진스   어도어  여자  2005-04-11  165.0  NaN  2341271
6     혜인    뉴진스   어도어  여자  2008-04-21  170.0    O  2301785
7     지수   블랙핑크   와이지  여자  1995-01-03  162.0    A  2227460
8     해린    뉴진스   어도어  여자  2006-05-15  164.5    B  2173376
9     태연   소녀시대   에스엠  여자  1989-03-09    NaN    A  2079866
10    RM  방탄소년단   빅히트  남자  1994-09-12  181.0    A  2069499
11    제니   블랙핑크   와이지  여자  1996-01-16  163.0    B  2069250
12   옹성우    워너원  판타지오  남자  1995-08-25  179.0    A  1954327
13    리사   블랙핑크   와이지  여자  1997-03-27  167.0    A  1912800
14    로제   블랙핑크   와이지  여자  1997-02-11  168.0    B  1888132
15    윤아   소녀시대   에스엠  여자  1990-05-30  168.0    B  1885297
16    조이   레드벨벳   빅히트  여자  1996-09-03  168.0    A  1830514
17    슬기   레드벨벳   빅히트  여자  1994-02-10  161.0    A  1741767
18  강다니엘    워너원   NaN  남자  1996-12-10  182.0    A  1706444
19     진  방탄소년단   빅히트  남자  1992-12-04  179.0    O  1680587

In [493]:
df_concat = pd.concat([df1, df_copy])
# reset_index(): index를 새롭게 적용
# drop=True 옵션을 사용하여 기존 index가 컬럼으로 만들어지는 것을 방지
df_concat.reset_index(drop=True)

      이름     그룹   소속사  성별        생년월일      키  혈액형  브랜드평판지수
0     지민  방탄소년단   빅히트  남자  1995-10-13  174.0    A  6267302
1     정국  방탄소년단   빅히트  남자  1997-09-01  179.0    A  5805844
2     민지    뉴진스   어도어  여자  2004-05-07  169.0    A  4437081
3     하니    뉴진스   어도어  여자  2004-10-06  161.7    O  4161153
4      뷔  방탄소년단   빅히트  남자  1995-12-30  179.0   AB  3470048
5    다니엘    뉴진스   어도어  여자  2005-04-11  165.0  NaN  2341271
6     혜인    뉴진스   어도어  여자  2008-04-21  170.0    O  2301785
7     지수   블랙핑크   와이지  여자  1995-01-03  162.0    A  2227460
8     해린    뉴진스   어도어  여자  2006-05-15  164.5    B  2173376
9     태연   소녀시대   에스엠  여자  1989-03-09    NaN    A  2079866
10    RM  방탄소년단   빅히트  남자  1994-09-12  181.0    A  2069499
11    제니   블랙핑크   와이지  여자  1996-01-16  163.0    B  2069250
12   옹성우    워너원  판타지오  남자  1995-08-25  179.0    A  1954327
13    리사   블랙핑크   와이지  여자  1997-03-27  167.0    A  1912800
14    로제   블랙핑크   와이지  여자  1997-02-11  168.0    B  1888132
15    윤아   소녀시대   에스엠  여자  1990-05-30  168.0    B  1885297
16    조이   레드벨벳   빅히트  여자  1996-09-03  168.0    A  1830514
17    슬기   레드벨벳   빅히트  여자  1994-02-10  161.0    A  1741767
18  강다니엘    워너원   NaN  남자  1996-12-10  182.0    A  1706444
19     진  방탄소년단   빅히트  남자  1992-12-04  179.0    O  1680587
20    지민  방탄소년단   빅히트  남자  1995-10-13  174.0    A  6267302
21    정국  방탄소년단   빅히트  남자  1997-09-01  179.0    A  5805844
22    민지    뉴진스   어도어  여자  2004-05-07  169.0    A  4437081
23    하니    뉴진스   어도어  여자  2004-10-06  161.7    O  4161153
24     뷔  방탄소년단   빅히트  남자  1995-12-30  179.0   AB  3470048
25   다니엘    뉴진스   어도어  여자  2005-04-11  165.0  NaN  2341271
26    혜인    뉴진스   어도어  여자  2008-04-21  170.0    O  2301785
27    지수   블랙핑크   와이지  여자  1995-01-03  162.0    A  2227460
28    해린    뉴진스   어도어  여자  2006-05-15  164.5    B  2173376
29    태연   소녀시대   에스엠  여자  1989-03-09    NaN    A  2079866
30    RM  방탄소년단   빅히트  남자  1994-09-12  181.0    A  2069499
31    제니   블랙핑크   와이지  여자  1996-01-16  163.0    B  2069250
32   옹성우    워너원  판타지오  남자  1995-08-25  179.0    A  1954327
33    리사   블랙핑크   와이지  여자  1997-03-27  167.0    A  1912800
34    로제   블랙핑크   와이지  여자  1997-02-11  168.0    B  1888132
35    윤아   소녀시대   에스엠  여자  1990-05-30  168.0    B  1885297
36    조이   레드벨벳   빅히트  여자  1996-09-03  168.0    A  1830514
37    슬기   레드벨벳   빅히트  여자  1994-02-10  161.0    A  1741767
38  강다니엘    워너원   NaN  남자  1996-12-10  182.0    A  1706444
39     진  방탄소년단   빅히트  남자  1992-12-04  179.0    O  1680587

In [494]:
pd.concat([df1, df2], axis=1) # 같은 index와 결합

      이름     그룹   소속사  성별        생년월일      키  혈액형  브랜드평판지수    이름    연봉  가족수
0     지민  방탄소년단   빅히트  남자  1995-10-13  174.0    A  6267302    지민  3000    3
1     정국  방탄소년단   빅히트  남자  1997-09-01  179.0    A  5805844    정국  3500    3
2     민지    뉴진스   어도어  여자  2004-05-07  169.0    A  4437081    민지  3200    4
3     하니    뉴진스   어도어  여자  2004-10-06  161.7    O  4161153    하니  3050    4
4      뷔  방탄소년단   빅히트  남자  1995-12-30  179.0   AB  3470048     뷔  4300    3
5    다니엘    뉴진스   어도어  여자  2005-04-11  165.0  NaN  2341271   다니엘  2900    5
6     혜인    뉴진스   어도어  여자  2008-04-21  170.0    O  2301785    혜인  3400    6
7     지수   블랙핑크   와이지  여자  1995-01-03  162.0    A  2227460    지수  4500    5
8     해린    뉴진스   어도어  여자  2006-05-15  164.5    B  2173376    해린  4200    4
9     태연   소녀시대   에스엠  여자  1989-03-09    NaN    A  2079866    태연  4300    4
10    RM  방탄소년단   빅히트  남자  1994-09-12  181.0    A  2069499    RM  3700    3
11    제니   블랙핑크   와이지  여자  1996-01-16  163.0    B  2069250    제니  3850    5
12   옹성우    워너원  판타지오  남자  1995-08-25  179.0    A  1954327   옹성우  3900    4
13    리사   블랙핑크   와이지  여자  1997-03-27  167.0    A  1912800    리사  4100    3
14    로제   블랙핑크   와이지  여자  1997-02-11  168.0    B  1888132    로제  4150    3
15    윤아   소녀시대   에스엠  여자  1990-05-30  168.0    B  1885297    윤아  3000    3
16    조이   레드벨벳   빅히트  여자  1996-09-03  168.0    A  1830514    조이  3500    3
17    슬기   레드벨벳   빅히트  여자  1994-02-10  161.0    A  1741767    슬기  3200    4
18  강다니엘    워너원   NaN  남자  1996-12-10  182.0    A  1706444  강다니엘  3050    4
19     진  방탄소년단   빅히트  남자  1992-12-04  179.0    O  1680587     진  4300    3

In [495]:
df3 = df2.drop([1, 3, 5, 7, 9])
df3

      이름    연봉  가족수
0     지민  3000    3
2     민지  3200    4
4      뷔  4300    3
6     혜인  3400    6
8     해린  4200    4
10    RM  3700    3
11    제니  3850    5
12   옹성우  3900    4
13    리사  4100    3
14    로제  4150    3
15    윤아  3000    3
16    조이  3500    3
17    슬기  3200    4
18  강다니엘  3050    4
19     진  4300    3

In [496]:
pd.concat([df1, df3], axis=1)

      이름     그룹   소속사  성별        생년월일      키  혈액형  브랜드평판지수    이름      연봉  가족수
0     지민  방탄소년단   빅히트  남자  1995-10-13  174.0    A  6267302    지민  3000.0  3.0
1     정국  방탄소년단   빅히트  남자  1997-09-01  179.0    A  5805844   NaN     NaN  NaN
2     민지    뉴진스   어도어  여자  2004-05-07  169.0    A  4437081    민지  3200.0  4.0
3     하니    뉴진스   어도어  여자  2004-10-06  161.7    O  4161153   NaN     NaN  NaN
4      뷔  방탄소년단   빅히트  남자  1995-12-30  179.0   AB  3470048     뷔  4300.0  3.0
5    다니엘    뉴진스   어도어  여자  2005-04-11  165.0  NaN  2341271   NaN     NaN  NaN
6     혜인    뉴진스   어도어  여자  2008-04-21  170.0    O  2301785    혜인  3400.0  6.0
7     지수   블랙핑크   와이지  여자  1995-01-03  162.0    A  2227460   NaN     NaN  NaN
8     해린    뉴진스   어도어  여자  2006-05-15  164.5    B  2173376    해린  4200.0  4.0
9     태연   소녀시대   에스엠  여자  1989-03-09    NaN    A  2079866   NaN     NaN  NaN
10    RM  방탄소년단   빅히트  남자  1994-09-12  181.0    A  2069499    RM  3700.0  3.0
11    제니   블랙핑크   와이지  여자  1996-01-16  163.0    B  2069250    제니  3850.0  5.0
12   옹성우    워너원  판타지오  남자  1995-08-25  179.0    A  1954327   옹성우  3900.0  4.0
13    리사   블랙핑크   와이지  여자  1997-03-27  167.0    A  1912800    리사  4100.0  3.0
14    로제   블랙핑크   와이지  여자  1997-02-11  168.0    B  1888132    로제  4150.0  3.0
15    윤아   소녀시대   에스엠  여자  1990-05-30  168.0    B  1885297    윤아  3000.0  3.0
16    조이   레드벨벳   빅히트  여자  1996-09-03  168.0    A  1830514    조이  3500.0  3.0
17    슬기   레드벨벳   빅히트  여자  1994-02-10  161.0    A  1741767    슬기  3200.0  4.0
18  강다니엘    워너원   NaN  남자  1996-12-10  182.0    A  1706444  강다니엘  3050.0  4.0
19     진  방탄소년단   빅히트  남자  1992-12-04  179.0    O  1680587     진  4300.0  3.0

In [497]:
df_right = df2.drop([1, 3, 5, 7, 9], axis=0)
df_right

      이름    연봉  가족수
0     지민  3000    3
2     민지  3200    4
4      뷔  4300    3
6     혜인  3400    6
8     해린  4200    4
10    RM  3700    3
11    제니  3850    5
12   옹성우  3900    4
13    리사  4100    3
14    로제  4150    3
15    윤아  3000    3
16    조이  3500    3
17    슬기  3200    4
18  강다니엘  3050    4
19     진  4300    3

In [498]:
df_right = df_right.reset_index(drop=True)
df_right

      이름    연봉  가족수
0     지민  3000    3
1     민지  3200    4
2      뷔  4300    3
3     혜인  3400    6
4     해린  4200    4
5     RM  3700    3
6     제니  3850    5
7    옹성우  3900    4
8     리사  4100    3
9     로제  4150    3
10    윤아  3000    3
11    조이  3500    3
12    슬기  3200    4
13  강다니엘  3050    4
14     진  4300    3

In [499]:
dic = {
    '이름': '김사과',
    '연봉': 9000,
    '가족수': 10
}

In [500]:
df_right = pd.concat([df_right, pd.DataFrame(dic, index=[0])], ignore_index=True)
df_right

      이름    연봉  가족수
0     지민  3000    3
1     민지  3200    4
2      뷔  4300    3
3     혜인  3400    6
4     해린  4200    4
5     RM  3700    3
6     제니  3850    5
7    옹성우  3900    4
8     리사  4100    3
9     로제  4150    3
10    윤아  3000    3
11    조이  3500    3
12    슬기  3200    4
13  강다니엘  3050    4
14     진  4300    3
15   김사과  9000   10

In [501]:
pd.concat([df1, df_right], axis=1)

      이름     그룹   소속사  성별        생년월일      키  혈액형  브랜드평판지수    이름      연봉   가족수
0     지민  방탄소년단   빅히트  남자  1995-10-13  174.0    A  6267302    지민  3000.0   3.0
1     정국  방탄소년단   빅히트  남자  1997-09-01  179.0    A  5805844    민지  3200.0   4.0
2     민지    뉴진스   어도어  여자  2004-05-07  169.0    A  4437081     뷔  4300.0   3.0
3     하니    뉴진스   어도어  여자  2004-10-06  161.7    O  4161153    혜인  3400.0   6.0
4      뷔  방탄소년단   빅히트  남자  1995-12-30  179.0   AB  3470048    해린  4200.0   4.0
5    다니엘    뉴진스   어도어  여자  2005-04-11  165.0  NaN  2341271    RM  3700.0   3.0
6     혜인    뉴진스   어도어  여자  2008-04-21  170.0    O  2301785    제니  3850.0   5.0
7     지수   블랙핑크   와이지  여자  1995-01-03  162.0    A  2227460   옹성우  3900.0   4.0
8     해린    뉴진스   어도어  여자  2006-05-15  164.5    B  2173376    리사  4100.0   3.0
9     태연   소녀시대   에스엠  여자  1989-03-09    NaN    A  2079866    로제  4150.0   3.0
10    RM  방탄소년단   빅히트  남자  1994-09-12  181.0    A  2069499    윤아  3000.0   3.0
11    제니   블랙핑크   와이지  여자  1996-01-16  163.0    B  2069250    조이  3500.0   3.0
12   옹성우    워너원  판타지오  남자  1995-08-25  179.0    A  1954327    슬기  3200.0   4.0
13    리사   블랙핑크   와이지  여자  1997-03-27  167.0    A  1912800  강다니엘  3050.0   4.0
14    로제   블랙핑크   와이지  여자  1997-02-11  168.0    B  1888132     진  4300.0   3.0
15    윤아   소녀시대   에스엠  여자  1990-05-30  168.0    B  1885297   김사과  9000.0  10.0
16    조이   레드벨벳   빅히트  여자  1996-09-03  168.0    A  1830514   NaN     NaN   NaN
17    슬기   레드벨벳   빅히트  여자  1994-02-10  161.0    A  1741767   NaN     NaN   NaN
18  강다니엘    워너원   NaN  남자  1996-12-10  182.0    A  1706444   NaN     NaN   NaN
19     진  방탄소년단   빅히트  남자  1992-12-04  179.0    O  1680587   NaN     NaN   NaN

In [502]:
# merge(): 특정 고유한 키를 기준으로 결합
# merge(데이터프레임1, 데이터프레임2, on='고유한컬럼', how='병합의기준')
# 병합의 기준: left, right, inner, cross
pd.merge(df1, df_right, on='이름', how='left')

      이름     그룹   소속사  성별        생년월일      키  혈액형  브랜드평판지수      연봉  가족수
0     지민  방탄소년단   빅히트  남자  1995-10-13  174.0    A  6267302  3000.0  3.0
1     정국  방탄소년단   빅히트  남자  1997-09-01  179.0    A  5805844     NaN  NaN
2     민지    뉴진스   어도어  여자  2004-05-07  169.0    A  4437081  3200.0  4.0
3     하니    뉴진스   어도어  여자  2004-10-06  161.7    O  4161153     NaN  NaN
4      뷔  방탄소년단   빅히트  남자  1995-12-30  179.0   AB  3470048  4300.0  3.0
5    다니엘    뉴진스   어도어  여자  2005-04-11  165.0  NaN  2341271     NaN  NaN
6     혜인    뉴진스   어도어  여자  2008-04-21  170.0    O  2301785  3400.0  6.0
7     지수   블랙핑크   와이지  여자  1995-01-03  162.0    A  2227460     NaN  NaN
8     해린    뉴진스   어도어  여자  2006-05-15  164.5    B  2173376  4200.0  4.0
9     태연   소녀시대   에스엠  여자  1989-03-09    NaN    A  2079866     NaN  NaN
10    RM  방탄소년단   빅히트  남자  1994-09-12  181.0    A  2069499  3700.0  3.0
11    제니   블랙핑크   와이지  여자  1996-01-16  163.0    B  2069250  3850.0  5.0
12   옹성우    워너원  판타지오  남자  1995-08-25  179.0    A  1954327  3900.0  4.0
13    리사   블랙핑크   와이지  여자  1997-03-27  167.0    A  1912800  4100.0  3.0
14    로제   블랙핑크   와이지  여자  1997-02-11  168.0    B  1888132  4150.0  3.0
15    윤아   소녀시대   에스엠  여자  1990-05-30  168.0    B  1885297  3000.0  3.0
16    조이   레드벨벳   빅히트  여자  1996-09-03  168.0    A  1830514  3500.0  3.0
17    슬기   레드벨벳   빅히트  여자  1994-02-10  161.0    A  1741767  3200.0  4.0
18  강다니엘    워너원   NaN  남자  1996-12-10  182.0    A  1706444  3050.0  4.0
19     진  방탄소년단   빅히트  남자  1992-12-04  179.0    O  1680587  4300.0  3.0

In [503]:
pd.merge(df1, df_right, on='이름', how='right')

      이름     그룹   소속사   성별        생년월일      키  혈액형    브랜드평판지수    연봉  가족수
0     지민  방탄소년단   빅히트   남자  1995-10-13  174.0    A  6267302.0  3000    3
1     민지    뉴진스   어도어   여자  2004-05-07  169.0    A  4437081.0  3200    4
2      뷔  방탄소년단   빅히트   남자  1995-12-30  179.0   AB  3470048.0  4300    3
3     혜인    뉴진스   어도어   여자  2008-04-21  170.0    O  2301785.0  3400    6
4     해린    뉴진스   어도어   여자  2006-05-15  164.5    B  2173376.0  4200    4
5     RM  방탄소년단   빅히트   남자  1994-09-12  181.0    A  2069499.0  3700    3
6     제니   블랙핑크   와이지   여자  1996-01-16  163.0    B  2069250.0  3850    5
7    옹성우    워너원  판타지오   남자  1995-08-25  179.0    A  1954327.0  3900    4
8     리사   블랙핑크   와이지   여자  1997-03-27  167.0    A  1912800.0  4100    3
9     로제   블랙핑크   와이지   여자  1997-02-11  168.0    B  1888132.0  4150    3
10    윤아   소녀시대   에스엠   여자  1990-05-30  168.0    B  1885297.0  3000    3
11    조이   레드벨벳   빅히트   여자  1996-09-03  168.0    A  1830514.0  3500    3
12    슬기   레드벨벳   빅히트   여자  1994-02-10  161.0    A  1741767.0  3200    4
13  강다니엘    워너원   NaN   남자  1996-12-10  182.0    A  1706444.0  3050    4
14     진  방탄소년단   빅히트   남자  1992-12-04  179.0    O  1680587.0  4300    3
15   김사과    NaN   NaN  NaN         NaN    NaN  NaN        NaN  9000   10

In [504]:
pd.merge(df1, df_right, on='이름', how='inner')

      이름     그룹   소속사  성별        생년월일      키 혈액형  브랜드평판지수    연봉  가족수
0     지민  방탄소년단   빅히트  남자  1995-10-13  174.0   A  6267302  3000    3
1     민지    뉴진스   어도어  여자  2004-05-07  169.0   A  4437081  3200    4
2      뷔  방탄소년단   빅히트  남자  1995-12-30  179.0  AB  3470048  4300    3
3     혜인    뉴진스   어도어  여자  2008-04-21  170.0   O  2301785  3400    6
4     해린    뉴진스   어도어  여자  2006-05-15  164.5   B  2173376  4200    4
5     RM  방탄소년단   빅히트  남자  1994-09-12  181.0   A  2069499  3700    3
6     제니   블랙핑크   와이지  여자  1996-01-16  163.0   B  2069250  3850    5
7    옹성우    워너원  판타지오  남자  1995-08-25  179.0   A  1954327  3900    4
8     리사   블랙핑크   와이지  여자  1997-03-27  167.0   A  1912800  4100    3
9     로제   블랙핑크   와이지  여자  1997-02-11  168.0   B  1888132  4150    3
10    윤아   소녀시대   에스엠  여자  1990-05-30  168.0   B  1885297  3000    3
11    조이   레드벨벳   빅히트  여자  1996-09-03  168.0   A  1830514  3500    3
12    슬기   레드벨벳   빅히트  여자  1994-02-10  161.0   A  1741767  3200    4
13  강다니엘    워너원   NaN  남자  1996-12-10  182.0   A  1706444  3050    4
14     진  방탄소년단   빅히트  남자  1992-12-04  179.0   O  1680587  4300    3

In [505]:
pd.merge(df1, df_right, how='cross')

    이름_x     그룹  소속사  성별        생년월일      키 혈액형  브랜드평판지수  이름_y    연봉  가족수
0     지민  방탄소년단  빅히트  남자  1995-10-13  174.0   A  6267302    지민  3000    3
1     지민  방탄소년단  빅히트  남자  1995-10-13  174.0   A  6267302    민지  3200    4
2     지민  방탄소년단  빅히트  남자  1995-10-13  174.0   A  6267302     뷔  4300    3
3     지민  방탄소년단  빅히트  남자  1995-10-13  174.0   A  6267302    혜인  3400    6
4     지민  방탄소년단  빅히트  남자  1995-10-13  174.0   A  6267302    해린  4200    4
..   ...    ...  ...  ..         ...    ...  ..      ...   ...   ...  ...
315    진  방탄소년단  빅히트  남자  1992-12-04  179.0   O  1680587    조이  3500    3
316    진  방탄소년단  빅히트  남자  1992-12-04  179.0   O  1680587    슬기  3200    4
317    진  방탄소년단  빅히트  남자  1992-12-04  179.0   O  1680587  강다니엘  3050    4
318    진  방탄소년단  빅히트  남자  1992-12-04  179.0   O  1680587     진  4300    3
319    진  방탄소년단  빅히트  남자  1992-12-04  179.0   O  1680587   김사과  9000   10

[320 rows x 11 columns]

In [506]:
df_right.columns = ['성함', '연봉', '가족수']
df_right

      성함    연봉  가족수
0     지민  3000    3
1     민지  3200    4
2      뷔  4300    3
3     혜인  3400    6
4     해린  4200    4
5     RM  3700    3
6     제니  3850    5
7    옹성우  3900    4
8     리사  4100    3
9     로제  4150    3
10    윤아  3000    3
11    조이  3500    3
12    슬기  3200    4
13  강다니엘  3050    4
14     진  4300    3
15   김사과  9000   10

In [507]:
# pd.merge(df1, df_right, on='이름', how='inner') KeyError: '이름'
pd.merge(df1, df_right, left_on='이름', right_on='성함', how='inner')

      이름     그룹   소속사  성별        생년월일      키 혈액형  브랜드평판지수    성함    연봉  가족수
0     지민  방탄소년단   빅히트  남자  1995-10-13  174.0   A  6267302    지민  3000    3
1     민지    뉴진스   어도어  여자  2004-05-07  169.0   A  4437081    민지  3200    4
2      뷔  방탄소년단   빅히트  남자  1995-12-30  179.0  AB  3470048     뷔  4300    3
3     혜인    뉴진스   어도어  여자  2008-04-21  170.0   O  2301785    혜인  3400    6
4     해린    뉴진스   어도어  여자  2006-05-15  164.5   B  2173376    해린  4200    4
5     RM  방탄소년단   빅히트  남자  1994-09-12  181.0   A  2069499    RM  3700    3
6     제니   블랙핑크   와이지  여자  1996-01-16  163.0   B  2069250    제니  3850    5
7    옹성우    워너원  판타지오  남자  1995-08-25  179.0   A  1954327   옹성우  3900    4
8     리사   블랙핑크   와이지  여자  1997-03-27  167.0   A  1912800    리사  4100    3
9     로제   블랙핑크   와이지  여자  1997-02-11  168.0   B  1888132    로제  4150    3
10    윤아   소녀시대   에스엠  여자  1990-05-30  168.0   B  1885297    윤아  3000    3
11    조이   레드벨벳   빅히트  여자  1996-09-03  168.0   A  1830514    조이  3500    3
12    슬기   레드벨벳   빅히트  여자  1994-02-10  161.0   A  1741767    슬기  3200    4
13  강다니엘    워너원   NaN  남자  1996-12-10  182.0   A  1706444  강다니엘  3050    4
14     진  방탄소년단   빅히트  남자  1992-12-04  179.0   O  1680587     진  4300    3

In [508]:
df1['브랜드평판지수'].rank()

0     20.0
1     19.0
2     18.0
3     17.0
4     16.0
5     15.0
6     14.0
7     13.0
8     12.0
9     11.0
10    10.0
11     9.0
12     8.0
13     7.0
14     6.0
15     5.0
16     4.0
17     3.0
18     2.0
19     1.0
Name: 브랜드평판지수, dtype: float64

In [509]:
df1['브랜드평판지수'].rank(ascending=False)

0      1.0
1      2.0
2      3.0
3      4.0
4      5.0
5      6.0
6      7.0
7      8.0
8      9.0
9     10.0
10    11.0
11    12.0
12    13.0
13    14.0
14    15.0
15    16.0
16    17.0
17    18.0
18    19.0
19    20.0
Name: 브랜드평판지수, dtype: float64

In [510]:
df1['브랜드순위'] = df1['브랜드평판지수'].rank(ascending=False).astype(int)
df1

      이름     그룹   소속사  성별        생년월일      키  혈액형  브랜드평판지수  브랜드순위
0     지민  방탄소년단   빅히트  남자  1995-10-13  174.0    A  6267302      1
1     정국  방탄소년단   빅히트  남자  1997-09-01  179.0    A  5805844      2
2     민지    뉴진스   어도어  여자  2004-05-07  169.0    A  4437081      3
3     하니    뉴진스   어도어  여자  2004-10-06  161.7    O  4161153      4
4      뷔  방탄소년단   빅히트  남자  1995-12-30  179.0   AB  3470048      5
5    다니엘    뉴진스   어도어  여자  2005-04-11  165.0  NaN  2341271      6
6     혜인    뉴진스   어도어  여자  2008-04-21  170.0    O  2301785      7
7     지수   블랙핑크   와이지  여자  1995-01-03  162.0    A  2227460      8
8     해린    뉴진스   어도어  여자  2006-05-15  164.5    B  2173376      9
9     태연   소녀시대   에스엠  여자  1989-03-09    NaN    A  2079866     10
10    RM  방탄소년단   빅히트  남자  1994-09-12  181.0    A  2069499     11
11    제니   블랙핑크   와이지  여자  1996-01-16  163.0    B  2069250     12
12   옹성우    워너원  판타지오  남자  1995-08-25  179.0    A  1954327     13
13    리사   블랙핑크   와이지  여자  1997-03-27  167.0    A  1912800     14
14    로제   블랙핑크   와이지  여자  1997-02-11  168.0    B  1888132     15
15    윤아   소녀시대   에스엠  여자  1990-05-30  168.0    B  1885297     16
16    조이   레드벨벳   빅히트  여자  1996-09-03  168.0    A  1830514     17
17    슬기   레드벨벳   빅히트  여자  1994-02-10  161.0    A  1741767     18
18  강다니엘    워너원   NaN  남자  1996-12-10  182.0    A  1706444     19
19     진  방탄소년단   빅히트  남자  1992-12-04  179.0    O  1680587     20

In [511]:
df1['브랜드순위'].dtypes

dtype('int64')

# **13. 날짜타입 사용하기**

In [512]:
df_copy = df.copy()
df_copy

    name  group company gender    birthday  height blood    brand
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587

In [513]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      20 non-null     object
 1   group     20 non-null     object
 2   company   19 non-null     object
 3   gender    20 non-null     object
 4   birthday  20 non-null     object
 5   height    19 non-null     float64
 6   blood     19 non-null     object
 7   brand     20 non-null     int64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.4+ KB

In [514]:
# to_datetime(): object 타입에서 datetime 타입으로 변환
df_copy['birthday'] = pd.to_datetime(df_copy['birthday'])
print(type(df_copy['birthday']))
print(df_copy['birthday'].dtypes)

<class 'pandas.core.series.Series'>
datetime64[ns]

In [515]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      20 non-null     object
 1   group     20 non-null     object
 2   company   19 non-null     object
 3   gender    20 non-null     object
 4   birthday  20 non-null     datetime64[ns]
 5   height    19 non-null     float64
 6   blood     19 non-null     object
 7   brand     20 non-null     int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 1.4+ KB

In [516]:
df_copy['birthday'].dt.year

0     1995
1     1997
2     2004
3     2004
4     1995
5     2005
6     2008
7     1995
8     2006
9     1989
10    1994
11    1996
12    1995
13    1997
14    1997
15    1990
16    1996
17    1994
18    1996
19    1992
Name: birthday, dtype: int32

In [517]:
df_copy['birthday'].dt.month

0     10
1      9
2      5
3     10
4     12
5      4
6      4
7      1
8      5
9      3
10     9
11     1
12     8
13     3
14     2
15     5
16     9
17     2
18    12
19    12
Name: birthday, dtype: int32

In [518]:
df_copy['birthday'].dt.day

0     13
1      1
2      7
3      6
4     30
5     11
6     21
7      3
8     15
9      9
10    12
11    16
12    25
13    27
14    11
15    30
16     3
17    10
18    10
19     4
Name: birthday, dtype: int32

In [519]:
df_copy['birthday'].dt.hour

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
Name: birthday, dtype: int32

In [520]:
df_copy['birthday'].dt.minute

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
Name: birthday, dtype: int32

In [521]:
df_copy['birthday'].dt.second

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
Name: birthday, dtype: int32

In [522]:
df_copy['birthday'].dt.day_of_week

0     4
1     0
2     4
3     2
4     5
5     0
6     0
7     1
8     0
9     3
10    0
11    1
12    4
13    3
14    1
15    2
16    1
17    3
18    1
19    4
Name: birthday, dtype: int32

In [523]:
df_copy['birthday'].dt.isocalendar().week

0     41
1     36
2     19
3     41
4     52
5     15
6     17
7      1
8     20
9     10
10    37
11     3
12    34
13    13
14     7
15    22
16    36
17     6
18    50
19    49
Name: week, dtype: UInt32

# **14. apply 사용하기**
Pandas의 apply() 함수는 데이터프레임이나 시리즈의 데이터를 사용자 정의 함수 또는 내장 함수에 적용하여 새로운 값을 계산하거나 변환할 때 사용됩니다. 데이터를 행(row) 또는 열(column) 단위로 처리할 수 있는 강력한 도구입니다.

In [524]:
df_copy = df.copy()
df_copy

    name  group company gender    birthday  height blood    brand
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587

In [525]:
df_copy.loc[df_copy['gender'] == '남자', 'gender'] = 1
df_copy.loc[df_copy['gender'] == '여자', 'gender'] = 0
df_copy

    name  group company gender    birthday  height blood    brand
0     지민  방탄소년단     빅히트      1  1995-10-13   174.0     A  6267302
1     정국  방탄소년단     빅히트      1  1997-09-01   179.0     A  5805844
2     민지    뉴진스     어도어      0  2004-05-07   169.0     A  4437081
3     하니    뉴진스     어도어      0  2004-10-06   161.7     O  4161153
4      뷔  방탄소년단     빅히트      1  1995-12-30   179.0    AB  3470048
5    다니엘    뉴진스     어도어      0  2005-04-11   165.0   NaN  2341271
6     혜인    뉴진스     어도어      0  2008-04-21   170.0     O  2301785
7     지수   블랙핑크     와이지      0  1995-01-03   162.0     A  2227460
8     해린    뉴진스     어도어      0  2006-05-15   164.5     B  2173376
9     태연   소녀시대     에스엠      0  1989-03-09     NaN     A  2079866
10    RM  방탄소년단     빅히트      1  1994-09-12   181.0     A  2069499
11    제니   블랙핑크     와이지      0  1996-01-16   163.0     B  2069250
12   옹성우    워너원    판타지오      1  1995-08-25   179.0     A  1954327
13    리사   블랙핑크     와이지      0  1997-03-27   167.0     A  1912800
14    로제   블랙핑크     와이지      0  1997-02-11   168.0     B  1888132
15    윤아   소녀시대     에스엠      0  1990-05-30   168.0     B  1885297
16    조이   레드벨벳     빅히트      0  1996-09-03   168.0     A  1830514
17    슬기   레드벨벳     빅히트      0  1994-02-10   161.0     A  1741767
18  강다니엘    워너원     NaN      1  1996-12-10   182.0     A  1706444
19     진  방탄소년단     빅히트      1  1992-12-04   179.0     O  1680587

In [526]:
df_copy = df.copy()
df_copy

    name  group company gender    birthday  height blood    brand
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587

In [527]:
def male_or_female(x):
  if x == '남자':
    return 1
  elif x == '여자':
    return 0
  else:
    return None

In [528]:
print(male_or_female('남자'))
print(male_or_female('여자'))

1
0

In [529]:
df_copy['gender'].apply(male_or_female)

0     1
1     1
2     0
3     0
4     1
5     0
6     0
7     0
8     0
9     0
10    1
11    0
12    1
13    0
14    0
15    0
16    0
17    0
18    1
19    1
Name: gender, dtype: int64

In [530]:
df_copy['gender'].apply(lambda x: 1 if x == '남자' else 0)

0     1
1     1
2     0
3     0
4     1
5     0
6     0
7     0
8     0
9     0
10    1
11    0
12    1
13    0
14    0
15    0
16    0
17    0
18    1
19    1
Name: gender, dtype: int64

In [531]:
df_copy['NewGender'] = df_copy['gender'].apply(lambda x: 1 if x == '남자' else 0)
df_copy.head()

  name  group company gender    birthday  height blood    brand  NewGender
0   지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302          1
1   정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844          1
2   민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081          0
3   하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153          0
4    뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048          1

# **15. map 사용하기**
Pandas의 map() 함수는 Series 객체에서 사용할 수 있는 함수로, 각 요소에 대해 함수나 매핑 규칙을 적용하여 새로운 값을 계산하거나 변환할 때 사용됩니다. map()은 데이터의 각 요소를 순회하며 특정 작업을 수행하므로, 데이터를 가공하거나 변환하는 데 유용합니다.

In [532]:
df_copy = df.copy()
df_copy

    name  group company gender    birthday  height blood    brand
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587

In [533]:
map_gender = {'남자':1, '여자':0}
df_copy['gender'].map(map_gender)

0     1
1     1
2     0
3     0
4     1
5     0
6     0
7     0
8     0
9     0
10    1
11    0
12    1
13    0
14    0
15    0
16    0
17    0
18    1
19    1
Name: gender, dtype: int64

In [534]:
df_copy['NewGender'] = df_copy['gender'].map(map_gender)
df_copy['NewGender']

0     1
1     1
2     0
3     0
4     1
5     0
6     0
7     0
8     0
9     0
10    1
11    0
12    1
13    0
14    0
15    0
16    0
17    0
18    1
19    1
Name: NewGender, dtype: int64

# **16. 데이터프레임의 산술연산**

In [535]:
df1 = pd.DataFrame({
    '파이썬':[60, 70, 80, 90, 95],
    '데이터분석':[40, 60, 70, 55, 87],
    '머신러닝딥러닝':[35, 40, 30, 70, 55]
})

df1

   파이썬  데이터분석  머신러닝딥러닝
0   60     40       35
1   70     60       40
2   80     70       30
3   90     55       70
4   95     87       55

In [536]:
df1

   파이썬  데이터분석  머신러닝딥러닝
0   60     40       35
1   70     60       40
2   80     70       30
3   90     55       70
4   95     87       55

In [537]:
df1['파이썬'].dtypes

dtype('int64')

In [538]:
type(df1['파이썬'])

pandas.core.series.Series

In [539]:
df1['파이썬'] + df1['데이터분석'] + df1['머신러닝딥러닝']

0    135
1    170
2    180
3    215
4    237
dtype: int64

In [540]:
df1['총점'] = df1['파이썬'] + df1['데이터분석'] + df1['머신러닝딥러닝']
df1['평균'] = df1['총점'] / 3
df1

   파이썬  데이터분석  머신러닝딥러닝   총점         평균
0   60     40       35  135  45.000000
1   70     60       40  170  56.666667
2   80     70       30  180  60.000000
3   90     55       70  215  71.666667
4   95     87       55  237  79.000000

In [541]:
df1['파이썬'].sum()

np.int64(395)

In [542]:
df1['파이썬'].mean()

np.float64(79.0)

In [543]:
df1.sum()

파이썬        395.000000
데이터분석      312.000000
머신러닝딥러닝    230.000000
총점         937.000000
평균         312.333333
dtype: float64

In [544]:
df1.mean()

파이썬         79.000000
데이터분석       62.400000
머신러닝딥러닝     46.000000
총점         187.400000
평균          62.466667
dtype: float64

In [545]:
df1 = pd.DataFrame({
    '파이썬':[60, 70, 80, 90, 95],
    '데이터분석':[40, 60, 70, 55, 87],
    '머신러닝딥러닝':[35, 40, 30, 70, 55]
})

df2 = pd.DataFrame({
    '파이썬':['C', 'B', 'B', 'A', 'A'],
    '데이터분석':[40, 60, 70, 55, 87],
    '머신러닝딥러닝':[35, 40, 30, 70, 55]
})

In [546]:
# df1 + df2
df1 + 10
# df2 + 10

   파이썬  데이터분석  머신러닝딥러닝
0   70     50       45
1   80     70       50
2   90     80       40
3  100     65       80
4  105     97       65

In [547]:
df1 = pd.DataFrame({
    '데이터분석':[40, 60, 70, 55, 87],
    '머신러닝딥러닝':[35, 40, 30, 70, 55]
})

df2 = pd.DataFrame({
    '데이터분석':[40, 60, 70, 55],
    '머신러닝딥러닝':[35, 40, 30, 70]
})

In [548]:
df1 + df2

   데이터분석  머신러닝딥러닝
0   80.0     70.0
1  120.0     80.0
2  140.0     60.0
3  110.0    140.0
4    NaN      NaN

# **17. select_dtypes**

In [549]:
df_copy = df.copy()
df_copy

    name  group company gender    birthday  height blood    brand
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587

In [550]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      20 non-null     object
 1   group     20 non-null     object
 2   company   19 non-null     object
 3   gender    20 non-null     object
 4   birthday  20 non-null     object
 5   height    19 non-null     float64
 6   blood     19 non-null     object
 7   brand     20 non-null     int64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.4+ KB

In [551]:
df_copy.select_dtypes(include='object')

    name  group company gender    birthday blood
0     지민  방탄소년단     빅히트     남자  1995-10-13     A
1     정국  방탄소년단     빅히트     남자  1997-09-01     A
2     민지    뉴진스     어도어     여자  2004-05-07     A
3     하니    뉴진스     어도어     여자  2004-10-06     O
4      뷔  방탄소년단     빅히트     남자  1995-12-30    AB
5    다니엘    뉴진스     어도어     여자  2005-04-11   NaN
6     혜인    뉴진스     어도어     여자  2008-04-21     O
7     지수   블랙핑크     와이지     여자  1995-01-03     A
8     해린    뉴진스     어도어     여자  2006-05-15     B
9     태연   소녀시대     에스엠     여자  1989-03-09     A
10    RM  방탄소년단     빅히트     남자  1994-09-12     A
11    제니   블랙핑크     와이지     여자  1996-01-16     B
12   옹성우    워너원    판타지오     남자  1995-08-25     A
13    리사   블랙핑크     와이지     여자  1997-03-27     A
14    로제   블랙핑크     와이지     여자  1997-02-11     B
15    윤아   소녀시대     에스엠     여자  1990-05-30     B
16    조이   레드벨벳     빅히트     여자  1996-09-03     A
17    슬기   레드벨벳     빅히트     여자  1994-02-10     A
18  강다니엘    워너원     NaN     남자  1996-12-10     A
19     진  방탄소년단     빅히트     남자  1992-12-04     O

In [552]:
df_copy.select_dtypes(exclude='object')

    height    brand
0    174.0  6267302
1    179.0  5805844
2    169.0  4437081
3    161.7  4161153
4    179.0  3470048
5    165.0  2341271
6    170.0  2301785
7    162.0  2227460
8    164.5  2173376
9      NaN  2079866
10   181.0  2069499
11   163.0  2069250
12   179.0  1954327
13   167.0  1912800
14   168.0  1888132
15   168.0  1885297
16   168.0  1830514
17   161.0  1741767
18   182.0  1706444
19   179.0  1680587

In [553]:
df_copy.select_dtypes(exclude='object') + 10

    height    brand
0    184.0  6267312
1    189.0  5805854
2    179.0  4437091
3    171.7  4161163
4    189.0  3470058
5    175.0  2341281
6    180.0  2301795
7    172.0  2227470
8    174.5  2173386
9      NaN  2079876
10   191.0  2069509
11   173.0  2069260
12   189.0  1954337
13   177.0  1912810
14   178.0  1888142
15   178.0  1885307
16   178.0  1830524
17   171.0  1741777
18   192.0  1706454
19   189.0  1680597

In [554]:
str_cols = df_copy.select_dtypes(include='object')
str_cols

    name  group company gender    birthday blood
0     지민  방탄소년단     빅히트     남자  1995-10-13     A
1     정국  방탄소년단     빅히트     남자  1997-09-01     A
2     민지    뉴진스     어도어     여자  2004-05-07     A
3     하니    뉴진스     어도어     여자  2004-10-06     O
4      뷔  방탄소년단     빅히트     남자  1995-12-30    AB
5    다니엘    뉴진스     어도어     여자  2005-04-11   NaN
6     혜인    뉴진스     어도어     여자  2008-04-21     O
7     지수   블랙핑크     와이지     여자  1995-01-03     A
8     해린    뉴진스     어도어     여자  2006-05-15     B
9     태연   소녀시대     에스엠     여자  1989-03-09     A
10    RM  방탄소년단     빅히트     남자  1994-09-12     A
11    제니   블랙핑크     와이지     여자  1996-01-16     B
12   옹성우    워너원    판타지오     남자  1995-08-25     A
13    리사   블랙핑크     와이지     여자  1997-03-27     A
14    로제   블랙핑크     와이지     여자  1997-02-11     B
15    윤아   소녀시대     에스엠     여자  1990-05-30     B
16    조이   레드벨벳     빅히트     여자  1996-09-03     A
17    슬기   레드벨벳     빅히트     여자  1994-02-10     A
18  강다니엘    워너원     NaN     남자  1996-12-10     A
19     진  방탄소년단     빅히트     남자  1992-12-04     O

# **18. get_dummies**
get_dummies()는 Pandas에서 범주형 데이터를 원-핫 인코딩(one-hot encoding) 방식으로 변환하는 데 사용됩니다

### 1. 데이터의 종류
<img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdna%2FvmnOx%2FdJMcacnX56W%2FAAAAAAAAAAAAAAAAAAAAAGpDja0-RlnxiVyllwjgZkpmqk9189V9r98SJ6LIeOsy%2Fimg.png%3Fcredential%3DyqXZFxpELC7KVnFOS48ylbz2pIh7yKj8%26expires%3D1767193199%26allow_ip%3D%26allow_referer%3D%26signature%3DxW93p%252B%252FdQJ6DxVBH5dtFyZ3UwV8%253D" />

# **2. 데이터 분석에서 범주형 컬럼 판단 기준**
데이터 분석 또는 머신러닝 모델을 만들 때, 각 컬럼(특징)을 범주형 데이터로 변환할지, 또는 삭제해야 할지 판단하는 과정은 매우 중요합니다. 특히 실제 데이터는 숫자처럼 보이지만 의미가 없는 것들도 많고, 범주형으로 처리하지 않으면 분석 결과가 왜곡되는 경우도 많습니다.

1. 값의 종류가 적고 의미 있는 그룹을 형성할 때
- 성별, 지역, 직급, 요일, 날씨

> 이런 값들은 자연스럽게 “그룹 분석”이 가능하고, 평균·합계를 내는 것보다 범주별 비교가 더 의미 있는 케이스입니다.

2. 숫자처럼 보이지만 수학적 의미가 없을 때
- 회원번호. 상품 코드, 우편번호, 전화번호

> 겉으로는 숫자이지만, 덧셈∙평균 같은 연산은 전혀 의미가 없습니다. 따라서 문자열 또는 범주형으로 변환해야 분석에 적합합니다.

3. 머신러닝 입력을 위해 인코딩이 필요한 경우
- 컬러(color): red / blue / green, 브라우저(browser): chrome / edge / safari

> 머신러닝은 문자열을 직접 다루지 못하므로, 범주형으로 변환한 뒤 원-핫 인코딩(One-Hot Encoding) 또는 레이블 인코딩(Label Encoding)을 적용합니다.

4. 연속 값이지만 범주로 나누는 것이 더 의미 있을 때
- 나이 → 10대/20대/30대, 매출 → 고/중/저, 위험등급 → Low / Medium / High

> 이처럼 의미 있는 구간(bin)을 만들어 카테고리화하면 분석 인사이트가 더 명확해집니다.

### 3. 어떤 컬럼은 제거(drop)하는 것이 좋을까?

1. 고유값(Unique)이 너무 많아 패턴이 없는 경우
- 주문번호, 주민번호, UUID, 세션 ID, 상세주소

> 이런 컬럼들은 대부분 값이 전부 다르기 때문에 모델이 패턴을 학습할 수 없고 오히려 노이즈로 작용합니다.

2. 지나치게 상세한 정보(과도한 해상도)
- 초 단위 timestamp, 도로명 + 상세 주소 (건물번호, 호수까지 포함)

> 이런 값들은 정보는 많지만 분석에서 의미 있는 패턴을 제공하지 않습니다. 일반적으로 다음처럼 가공해야 합니다:

```
시간 → year, month, hour, weekday, 주소 → 시/구 단위
```

3. 결측치가 지나치게 많아 의미가 없을 때
- 예: 전체의 80% 이상이 null

> 대부분의 경우 해당 컬럼은 과감히 삭제하는 것이 모델의 성능에 이롭습니다.

# **4. 원-핫 인코딩**
원-핫 인코딩은 각 범주를 별도의 열로 변환하고, 해당 범주에 해당하는 곳에 1을, 나머지에는 0을 채우는 방식입니다. 예를 들어, 데이터가 "Red", "Green", "Blue"와 같은 문자열이라면, 모델은 이를 이해하지 못합니다. 범주형 데이터를 숫자로 변환해야 모델이 계산할 수 있습니다. 원-핫 인코딩은 범주형 데이터를 숫자로 변환하면서도 각 범주 간의 순서나 크기를 부여하지 않습니다.

In [555]:
blood_map = {'A':0, 'B':1, 'AB':2, '0':3}
df_copy['blood_code'] = df['blood'].map(blood_map)
df_copy

    name  group company gender    birthday  height blood    brand  blood_code
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302         0.0
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844         0.0
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081         0.0
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153         NaN
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048         2.0
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271         NaN
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785         NaN
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460         0.0
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376         1.0
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866         0.0
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499         0.0
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250         1.0
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327         0.0
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800         0.0
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132         1.0
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297         1.0
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514         0.0
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767         0.0
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444         0.0
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587         NaN

In [556]:
pd.get_dummies(df['blood'])

        A     AB      B      O
0    True  False  False  False
1    True  False  False  False
2    True  False  False  False
3   False  False  False   True
4   False   True  False  False
5   False  False  False  False
6   False  False  False   True
7    True  False  False  False
8   False  False   True  False
9    True  False  False  False
10   True  False  False  False
11  False  False   True  False
12   True  False  False  False
13   True  False  False  False
14  False  False   True  False
15  False  False   True  False
16   True  False  False  False
17   True  False  False  False
18   True  False  False  False
19  False  False  False   True

In [557]:
df_copy = df.copy()
df_copy

    name  group company gender    birthday  height blood    brand
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587

In [558]:
df_copy = pd.get_dummies(df_copy, columns=['blood'])
df_copy

,name,group,company,gender,birthday,height,brand,blood_A,blood_AB,blood_B,blood_O
0,지민,방탄소년단,빅히트,남자,1995-10-13,174.0,6267302,True,False,False,False
1,정국,방탄소년단,빅히트,남자,1997-09-01,179.0,5805844,True,False,False,False
2,민지,뉴진스,어도어,여자,2004-05-07,169.0,4437081,True,False,False,False
3,하니,뉴진스,어도어,여자,2004-10-06,161.7,4161153,False,False,False,True
4,뷔,방탄소년단,빅히트,남자,1995-12-30,179.0,3470048,False,True,False,False
5,다니엘,뉴진스,어도어,여자,2005-04-11,165.0,2341271,False,False,False,False
6,혜인,뉴진스,어도어,여자,2008-04-21,170.0,2301785,False,False,False,True
7,지수,블랙핑크,와이지,여자,1995-01-03,162.0,2227460,True,False,False,False
8,해린,뉴진스,어도어,여자,2006-05-15,164.5,2173376,False,False,True,False
9,태연,소녀시대,에스엠,여자,1989-03-09,NaN,2079866,True,False,False,False
10,RM,방탄소년단,빅히트,남자,1994-09-12,181.0,2069499,True,False,False,False
11,제니,블랙핑크,와이지,여자,1996-01-16,163.0,2069250,False,False,True,False
12,옹성우,워너원,판타지오,남자,1995-08-25,179.0,1954327,True,False,False,False
13,리사,블랙핑크,와이지,여자,1997-03-27,167.0,1912800,True,False,False,False
14,로제,블랙핑크,와이지,여자,1997-02-11,168.0,1888132,False,False,True,False
15,윤아,소녀시대,에스엠,여자,1990-05-30,168.0,1885297,False,False,True,False
16,조이,레드벨벳,빅히트,여자,1996-09-03,168.0,1830514,True,False,False,False
17,슬기,레드벨벳,빅히트,여자,1994-02-10,161.0,1741767,True,False,False,False
18,강다니엘,워너원,NaN,남자,1996-12-10,182.0,1706444,True,False,False,False
19,진,방탄소년단,빅히트,남자,1992-12-04,179.0,1680587,False,False,False,True